<!-- <h2 appNew>{{'LOWER'|lowercase}}</h2>
<h2 appNew>{{'upper'|uppercase}}</h2>
<h2 appNew>{{dateExample|date}}</h2>
<h2 appNew>{{'145'|currency}}</h2>
<h2 appNew>{{'0.125'|percent}}</h2>


<h2 appHighlight>{{'145'|currency:'INR'}}</h2>
<h2 appHighlight>{{dateExample|date:'short'}}</h2>
<h2 appHighlight>{{dateExample|date:'dd-MM-yy'}}</h2>

<h2 appNew>{{dateExample|date|uppercase}}</h2>
<h2 appNew>{{'145'|currency:'INR'|lowercase}}</h2>
<br><br><br> -->

<!-- <app-logins></app-logins> -->

<!-- <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    <label for="fname">Name</label>
    <input type="text" id="fname" name="fname">
    <label for="text">Age</label>
    <input type="text" id="age" name="age">
    <button type="submit">Submit</button>
</form> -->


<!-- <div class="new">
    <h1>Employee Intrests Survey Form</h1>
    <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    <label for="name">Enter Your Name: </label>
    <input type="text" id="name" name="name"[(ngModel)]="name" required minlength="3"><br><br><br>
  
    <label for="dname">Enter Your Department: </label>
    <input type="text" id="dname" name="dname"[(ngModel)]="dname"><br><br><br>
  
    <label>Tell us a little about yourself: </label>
    <textarea></textarea><br><br><br>
  
    <label for="exercise">Do you exercise at home?</label>
    <input type="radio" name="exe" [(ngModel)]="exe">
    <label for="yes">Yes</label>
    <input type="radio" name="cis" [(ngModel)]="cis">
    <label>No</label><br><br><br>
  
    <label>How do you like to read about your favourite topics?</label><br><br>
    <input type="checkbox" name="book" [(ngModel)]="book">
    <label>Books</label>
    <input type="checkbox" name="online" [(ngModel)]="online">
    <label>Online resources</label>
    <input type="checkbox" name="phone" [(ngModel)]="phone">
    <label>Phone apps</label>
    <input type="checkbox" name="mag" [(ngModel)]="mag">
    <label>Magazines</label><br><br><br>
  
    <label>What genre of movies do you like?
    <select>
    <option value="Comedy">Comedy</option>
    <option value="Horror">Horror</option>
    <option value="Thriller">Thriller</option>
  </select><br><br><br>
  <button type="submit" [disabled]="!myForm.valid"> Submit Form</button><br><br><br>
  <button (click)="resetForm(myForm)">Reset</button> -->



 <app-navsbar></app-navsbar>
 