

<br><div class="card" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title" style="font-style: italic;">KATHAK</h2>
      <p class="card-text">Dance is a performing art. It is described in many ways. It is when people move to a musical rhythm.</p>
      <a href="#" routerLink="forms" class="card-link">Learn More</a>
    </div>
  </div>

  <div class="cardnew" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title" style="font-style: italic;">BHARATHNATYAM</h2>
      <p class="card-text">Dance as the narration of a magical story; that recites on lips, illuminates imaginations</p>
      <a href="" routerLink="forms" class="card-link">Learn More</a>
    </div>
  </div>

  <div class="cardneww" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title" style="font-style: italic;">CONTEMPRORY</h2>
      <p class="card-text">Sometimes in life confusion tends to arise and only dialogue of dance seems to make sense.</p>
      <a href="#" routerLink="forms" class="card-link">Learn More</a>
    </div>
  </div>

  <div class="cardnewww" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title" style="font-style: italic;">OTHER DANCE FORMS</h2>
      <p class="card-text">The dance may be an informal play, a part of a ritual, or a part of a professional performance.</p>
      <a href="#" routerLink="other" class="card-link">Learn More</a>
    </div>
  </div>
   
   <!-- <div class="">
      <router-outlet></router-outlet>
  </div> -->



  